*{
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}
.container{
    display:grid;
    grid-template-areas: 
    "header"
    "article"
    "footer";
}

/*-----------------------------------------------*/


header{
    background: #c6c6c6;
    height: 15vh;
    width: 100%;

    grid-area: header;

    display: flex;
    flex-wrap: wrap;

}

.hdr-logo img{
    
    transform: scale(0.35);
    position: relative;
    top: -67px;
    left: -145px;

    filter: drop-shadow(10px 10px 12px #272727);
}


/*-----------------------------------------------*/

nav{
    background: #005b81;
    
    display: flex;
    justify-content: center;

    min-width: 84%;
    height: 50px;

    transform: translate(20%, 15px);
   
    align-items: center;

    position: fixed;
    left: -10px;

}

ul{
     list-style-type: none;
     margin: 0;
     padding: 0;

}
.nav-item{

    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}
.nav-link{
    background: #005b81;
    display: inline-block;

    text-decoration: none;
    color: white;

    padding: 15px 20px 0 20px;

    
    height: 50px;
    flex-grow: 1;
    box-sizing: border-box;

}


.nav-link:hover{
    background: #0078a1;
    transition-property: background;
    transition-duration: 0.5s;
}
.nav-link:active{
    background: #78ddff;
}


/*-----------------------------------------------*/


article{
    background: #dadada;
    height: 80vh;
    width: 100%;
    grid-area: article;
}


/*-----------------------------------------------*/


footer{
    background: #82368c;
    height: 50vh;
    width: 100%;
    grid-area: footer;
}

