*{
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: #dadada;
}

.container{
    display:grid;
    grid-template-areas: 
    "header"
    "article"
    "footer";
}

/*-----------------------------------------------*/


header{
    height: 15vh;
    width: 100%;

    grid-area: header;

    display: flex;
    flex-wrap: wrap;

    padding-bottom:5px;
    background:
    linear-gradient(
      to bottom, 
      #c6c6c6 80%,
      #dadada 99%
        ) 
    bottom
    no-repeat; 

}

.hdr-logo img{
    
    transform: scale(0.35);
    position: relative;
    top: -67px;
    left: -120px;

    filter: drop-shadow(7px 7px 12px #454545);
}

.hdr-logo img:hover{
    animation-name: home;
    animation-duration: 0.3s;
}



/*-----------------------------------------------*/

nav{
    background: #005b81;
    
    display: flex;
    justify-content: center;

    min-width: 84%;
    height: 50px;

    transform: translate(20%, 15px);
   
    align-items: center;

    position: fixed;
    left: -10px;

}

ul{
     list-style-type: none;
     margin: 0;
     padding: 0;

}
.nav-item{

    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}
.nav-link{
    background: #005b81;
    display: inline-block;

    text-decoration: none;
    color: white;

    padding: 15px 20px 0 20px;

    
    height: 50px;
    flex-grow: 1;
    box-sizing: border-box;

}


.nav-link:hover{
    background: #0078a1;
    transition-property: background;
    transition-duration: 0.5s;
}
.nav-link:active{
    background: #78ddff;
}


/*-----------------------------------------------*/


article{
    background: #dadada;
    height: 100vh;
    width: 100%;
    grid-area: article;
}


/*-----------------------------------------------*/


footer{
    background: #82368c;
    height: 50vh;
    width: 100%;
    grid-area: footer;
}

.foot-container{
    display: flex;
    justify-content: center;
}

.foot-item a{
    text-decoration:none;
    color:#dadada;
}

.foot-item{
    color:#dadada;
    padding: 20px 30px 0 30px;
    line-height: 30px;
    margin: 20px 30px 0 30px;
    min-width: 75px;
}

.foot-item p{
    color: #1F0020;
    font-size:25px;
    line-height:10px;
}

.foot-item a:hover{
    color: #1F0020;
}

#contacto {
    margin-top: -20px
}

#contacto ul {
    display: flex;
    justify-content: center;
    margin-top:-25px;
    
}
.contact{
    margin: 0 5px 0 5px;
    font-size: 22px;
}

.copyright{
    color: #1F0020;
    display: block;
    text-align: center;
}


/*-----------------------------------------------*/


@keyframes home{
    0%{
        transform: scale(0.35);
        position: relative;
        top: -67px;
        left: -120px;
    }

    50%{
        transform: scale(0.32);
        position: relative;
        top: -67px;
        left: -120px;
    }

    100%{
        transform: scale(0.35);
    position: relative;
    top: -67px;
    left: -120px;
    }
}


