*{
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: #dadada;
}

.container{
    display:grid;
    grid-template-areas: 
    "header"
    "article"
    "footer";
}

/*-----------------------------------------------*/


header{
    height: 15vh;
    width: 100%;

    grid-area: header;

    display: flex;
    flex-wrap: wrap;

    padding-bottom:5px;
    background:
    linear-gradient(
      to bottom, 
      #c6c6c6 80%,
      #dadada 99%
        ) 
    bottom
    no-repeat; 

}

.hdr-logo img{
    
    transform: scale(0.35);
    position: relative;
    top: -67px;
    left: -120px;

    filter: drop-shadow(7px 7px 12px #454545);

    position: fixed;
    z-index: 110;
}

.hdr-logo img:hover{
    transform: scale(0.37);
    transition: initial;
    transition-duration: 0.1s;
}

.hdr-logo img:active{
    animation-name: home;
    animation-duration: 0.2s;
}



/*-----------------------------------------------*/

nav{
    background: #005b81;
    
    display: flex;
    justify-content: center;

    min-width: 84%;
    height: 50px;

    transform: translate(20%, 15px);
   
    align-items: center;

    position: fixed;
    left: -10px;
    z-index: 100;
}

ul{
     list-style-type: none;
     margin: 0;
     padding: 0;

}
.nav-item{

    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}
.nav-link{
    background: #005b81;
    display: inline-block;

    text-decoration: none;
    color: white;

    padding: 15px 20px 0 20px;

    
    height: 50px;
    flex-grow: 1;
    box-sizing: border-box;

}


.nav-link:hover{
    background: #0078a1;
    transition-property:initial;
    transition-duration: 0.15s;
}
.nav-link:active{
    background: #78ddff;
}


/*-----------------------------------------------*/

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    font-size: 50px;
    text-align:center;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 450;
    font-size: 35px;
    text-align: center;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    display: inline-block;
}



article{
    background: #ffff;
    height: 525vh;
    width: 95%;
    grid-area: article;
    margin: 20px auto;
    filter: drop-shadow(6px 6px 12px #666666);
    z-index: 20;
    padding: 40px;
    box-sizing: border-box;
}

article p{
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    line-height: 30px;

}



.fondo{
    background-image: url("3.jpg");
    background-size: cover;

    display:flex;
    flex-grow: 1;
    height: 400px;
    border-radius: 25px;
    
    justify-content: right;
    align-items: center;
    font-size: 50px;
    color: #dadada;
    
}

#intro{
    margin-bottom: 60px;
}

.servicios{
    
     

    display: flex;
    
    padding: 20px;
    
    margin: -40px;

    
}

.servicios-p{
    margin-top:-40px;
}

.serv-1{
    background: #ffff;
}

.serv-2{
    background: #dadada;
}

.servcont-1{
    flex-grow: 1;
    min-width: 60%;
}

.servcont-2{
    flex-grow: 1;
    min-width: 40%;

    padding: 40px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.servcont-2 a{
    color:#82368c;
}

.servcont-2 a:hover{
    color:#82368CC4;
    font-size: 50px;

    transition-property: initial;
    transition-duration: 0.3s;
}

.servcont-2-img{
    background:#666666;

    width: 350px;
    height: 200px;
}


/*-----------------------------------------------*/


footer{
    background: #82368c;
    height: 50vh;
    width: 100%;
    grid-area: footer;
}

.foot-container{
    display: flex;
    justify-content: center;
}

.foot-item a{
    text-decoration:none;
    color:#dadada;
}

.foot-item{
    color:#dadada;
    padding: 20px 30px 0 30px;
    line-height: 30px;
    margin: 20px 30px 0 30px;
    min-width: 75px;
}

.foot-item p{
    color: #1F0020;
    font-size:25px;
    line-height:10px;
}

.foot-item a:hover{
    transition: initial;
    transition-duration: 0.2s;
    color: #1F0020;
}

#contacto {
    margin-top: -20px
}

#contacto ul {
    display: flex;
    justify-content: center;
    margin-top:-25px;
    
}
.contact{
    margin: 0 5px 0 5px;
    font-size: 22px;
}

.copyright{
    color: #1F0020;
    display: block;
    text-align: center;
}


/*-----------------------------------------------*/


@keyframes home{
    0%{
        transform: scale(0.35);
        position: relative;
        top: -67px;
        left: -120px;
    }

    50%{
        transform: scale(0.34);
        position: relative;
        top: -67px;
        left: -120px;
    }

    100%{
        transform: scale(0.35);
    position: relative;
    top: -67px;
    left: -120px;
    }
}


